# Самостоятельное задание 1 (+1 балл к оценке за курс).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
first = pd.read_csv("Students_info_0.csv")
second = pd.read_csv("Students_info_1.csv")
third = pd.read_csv("Students_info_2.csv")
fourth = pd.read_csv("Students_info_3.csv")
fifth = pd.read_csv("Students_info_4.csv")
sixth = pd.read_csv("Students_info_5.csv")
seventh = pd.read_csv("Students_info_6.csv")
eighth = pd.read_csv("Students_info_7.csv")
nineth = pd.read_csv("Students_info_8.csv")
tenth = pd.read_csv("Students_info_9.csv")
m1 = pd.read_csv("Students_marks_0.csv")
m2 = pd.read_csv("Students_marks_1.csv")
m3 = pd.read_csv("Students_marks_2.csv")
m4 = pd.read_csv("Students_marks_3.csv")
m5 = pd.read_csv("Students_marks_4.csv")
m6 = pd.read_csv("Students_marks_5.csv")
m7 = pd.read_csv("Students_marks_6.csv")
m8 = pd.read_csv("Students_marks_7.csv")
m9 = pd.read_csv("Students_marks_8.csv")
m10 = pd.read_csv("Students_marks_9.csv")
left = pd.concat([first, second, third, fourth, fifth, sixth, seventh, eighth, nineth, tenth])
right = pd.concat([m1, m2, m3, m4, m5, m6, m7, m8, m9, m10])
df = left.merge(right)
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
#your code here
df.pop("index")
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
# your code here
print(len(df), 'x', len(df.columns))

1000 x 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
# your code here
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
if df.isnull().sum().sum() == 0:
    print("Пустые значения отсутствуют")
else:
    print("В таблице", df.isnull().sum().sum(), "пустых значений")

Пустые значения отсутствуют

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
# your code here
math_score_mean = df['math score'].mean()
print("Ср. по math =", math_score_mean, '\n')

reading_score_mean = df['reading score'].mean()
print("Ср. по reading =", reading_score_mean, '\n')

writing_score_mean = df['writing score'].mean()
print("Ср. по writning =", writing_score_mean, '\n')

Ср. по math = 66.089

Ср. по reading = 69.169

Ср. по writning = 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
# your code here
math_score = df.groupby("test preparation course")['math score'].apply(lambda x: x.mean())
print("math score:", math_score, '\n')
reading_score = df.groupby("test preparation course")['reading score'].apply(lambda x: x.mean())
print("reading score:", reading_score, '\n')
writing_score = df.groupby("test preparation course")['writing score'].apply(lambda x: x.mean())
print("writing score:", writing_score, '\n')

math score: test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

reading score: test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

writing score: test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
# your code here
print(*df.lunch.unique(), sep=", ")

standard, free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
# your code here
df = df.rename(columns={'parental level of education': 'education'})
df = df.rename(columns={'test preparation course': 'test preparation'})

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
# your code here
print("Доля студентов сдавших экзамен по математике: ", (df.groupby(level = 0)["math score"].mean() > passmark).mean(), '\n')
df = df.rename(columns={'test preparation': 'test_preparation'})
print("Доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике", (df[df.test_preparation == "completed"]["math score"] > passmark).mean(), '\n')
print("Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике", (df[(df.gender == "female") & (df.test_preparation != "completed")]["math score"] > passmark).mean(), '\n')
df = df.rename(columns={'test_preparation': 'test preparation'})

Доля студентов сдавших экзамен по математике:  0.85

Доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике 0.9078212290502793

Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике 0.7664670658682635

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
# your code here
import time
startTime = time.time()
average = df.groupby("race/ethnicity")['reading score'].apply(lambda x: x.mean())
print("Средний балл по чтению для", average, '\n')
print("Time_used = ", time.time() - startTime, '\n')
startTime = time.time()
education = df.groupby("education")['writing score'].apply(lambda x: x.min())
print("Минимальный балл за экзамен по письму для", education, '\n')
print("Time_used = ", time.time() - startTime, '\n')

Средний балл по чтению для race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

Time_used =  0.004266977310180664

Минимальный балл за экзамен по письму для education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

Time_used =  0.004240274429321289

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
# your code here
start_time = time.time()
cnt = [0, 0, 0, 0, 0]
Sum = [0, 0, 0, 0, 0]
edl_m = [100, 100, 100, 100, 100, 100]
for i in range(0, 1000):
    if (df["race/ethnicity"].iloc[i] == "group A"):
        cnt[0] += 1
        Sum[0] += df["reading score"].iloc[i]
    elif (df["race/ethnicity"].iloc[i] == "group B"):
        cnt[1] += 1
        Sum[1] += df["reading score"].iloc[i]
    elif (df["race/ethnicity"].iloc[i] == "group C"):
        cnt[2] += 1
        Sum[2] += df["reading score"].iloc[i]
    elif (df["race/ethnicity"].iloc[i] == "group D"):
        cnt[3] += 1
        Sum[3] += df["reading score"].iloc[i]
    elif (df["race/ethnicity"].iloc[i] == "group E"):
        cnt[4] += 1
        Sum[4] += df["reading score"].iloc[i]
    if ((df["education"].iloc[i] == "associate's degree") & (df["writing score"].iloc[i] < edl_m[0])):
        edl_m[0] = df['writing score'].iloc[i]
    if ((df["education"].iloc[i] == "bachelor's degree") & (df["writing score"].iloc[i] < edl_m[1])):
        edl_m[1] = df['writing score'].iloc[i]
    if ((df["education"].iloc[i] == "high school") & (df["writing score"].iloc[i] < edl_m[2])):
        edl_m[2] = df['writing score'].iloc[i]
    if ((df["education"].iloc[i] == "master's degree") & (df["writing score"].iloc[i] < edl_m[3])):
        edl_m[3] = df['writing score'].iloc[i]
    if ((df["education"].iloc[i] == "some college") & (df["writing score"].iloc[i] < edl_m[4])):
        edl_m[4] = df['writing score'].iloc[i]
    if ((df["education"].iloc[i] == "some high school") & (df["writing score"].iloc[i] < edl_m[5])):
        edl_m[5] = df["writing score"].iloc[i]
print("Средний балл по чтению для race/ethnicity")
print("group A\t", Sum[0] / cnt[0])
print("group B\t", Sum[1] / cnt[1])
print("group C\t", Sum[2] / cnt[2])
print("group D\t", Sum[3] / cnt[3])
print("group E\t", Sum[4] / cnt[4], '\n')
print("Минимальный балл за экзамен по письму для education")
print("associate's degree\t", edl_m[0])
print("bachelor's degree\t", edl_m[1])
print("high school\t", edl_m[2])
print("master's degree", edl_m[3])
print("some college\t", edl_m[4])
print("some high school\t", edl_m[5])
print("Time_used =", time.time() - start_time, '\n')
print("Вывод: Цикл медленнее библиотечной функции\n")

Средний балл по чтению для race/ethnicity
group A	 64.67415730337079
group B	 67.35263157894737
group C	 69.10344827586206
group D	 70.03053435114504
group E	 73.02857142857142

Минимальный балл за экзамен по письму для education
associate's degree	 35
bachelor's degree	 38
high school	 15
master's degree 46
some college	 19
some high school	 10
Time_used = 0.17786431312561035

Вывод: Цикл медленнее библиотечной функции

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
# your code here
grouped = pd.pivot_table(data=df,index=['gender', 'education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
# your code here
df['Math_PassStatus'] = df['math score'].apply(lambda x: "F" if x < passmark else "P")
df['Read_PassStatus'] = df['reading score'].apply(lambda x: "F" if x < passmark else "P")
df['Write_PassStatus'] = df['writing score'].apply(lambda x: "F" if x < passmark else "P")
print(df.groupby("Math_PassStatus")["math score"].count(), '\n')
print(df.groupby("Read_PassStatus")["reading score"].count(), '\n')
print(df.groupby("Write_PassStatus")["writing score"].count(), '\n')

Math_PassStatus
F    135
P    865
Name: math score, dtype: int64

Read_PassStatus
F     90
P    910
Name: reading score, dtype: int64

Write_PassStatus
F    114
P    886
Name: writing score, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
# your code here
def f(line):
    if (line['Math_PassStatus'] == line['Read_PassStatus'] == line['Write_PassStatus'] == "P"):
        return "P"
    return "F"

df['OverAll_PassStatus'] = df.apply(f, axis=1)
len(df[(df.OverAll_PassStatus == "P")])

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      90 и больше = A
####      80-89 = B
####      70-79 = C
####      60-69 = D
####      50-59 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [18]:
def GetGrade(score):
    if (score >= 90 * 3):
        return "A"
    if (score >= 80 * 3):
        return "B"
    if (score >= 70 * 3):
        return "C"
    if (score >= 60 * 3):
        return "D"
    if (score >= 50 * 3):
        return "E"
    else:
        return "F"

df['Grade'] = df.apply(lambda x: GetGrade(x['math score'] + x['reading score'] + x['writing score']), axis=1)
print('Всего оценок A: ', df['Grade'].value_counts()['A'])
print('Всего оценок B:', df['Grade'].value_counts()['B'])
print('Всего оценок C:', df['Grade'].value_counts()['C'])
print('Всего оценок D:', df['Grade'].value_counts()['D'])
print('Всего оценок E:', df['Grade'].value_counts()['E'])
print('Всего оценок F:', df['Grade'].value_counts()['F'])

Всего оценок A:  52
Всего оценок B: 146
Всего оценок C: 261
Всего оценок D: 256
Всего оценок E: 182
Всего оценок F: 103